<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        ul li{
        display: inline-block;
        }
    </style>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
          <a class="nav-link" href="/">Pocetna</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/korpa">Korpa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/o nama">O nama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logovanja">Logovanja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registracija">Registracija</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/administracija">Administracija</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
  </div>
</nav>
{{odg}}
<form action="/dodaj" method="post">
    <input type="hidden" name="id_osobe" value="{{idd}}">
    <table>
        <tr>
            <td>
                <label for="ime">Ime:</label>
            </td>
            <td>
                <input type="text" id="ime" name="ime">
            </td>
        </tr>
        <tr>
            <td>
                <label for="opis">Opis:</label>
            </td>
            <td>
                <textarea id="opis" name="opis"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="cena">Cena:</label>
            </td>
            <td>
                <input type="text" id="cena" name="cena">
            </td>
        </tr>
        <tr>
            <td>
                <label for="proizvodjac">Link proizvodjaca:</label>
            </td>
            <td>
                <input type="text" id="proizvodjac" name="proizvodjac">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-success" value="Dodaj proizvod">
            </td>
        </tr>
    </table>
</form>
{% for i in poruke%}
    <p>{{i[1]}}</p>
    <p>{{i[2]}}</p>
    <p>{{i[3]}}</p>
    <hr>
{% endfor %}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
